header{
    background-color: rgb(41, 41, 41);
    text-align: center;
    z-index: 200;
    
}
ul{
    list-style: none;
    margin: -30px;
    padding: 20px;
    margin-left: 180px;
}
a {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    color: rgb(220, 216, 168);
}
li{
    display: inline;
}
.logo-img{
    position: absolute;
      height: 75px;
      left: 150px;
      top: 4px;
      padding: 4px;
}
.mybody {
    background: url(images/coteg.png) no-repeat center center fixed;
}
.element1{
    width: 300px;
    height: 130px;
    float: left;
    background: rgb(255, 255, 255);
    border: solid 3px rgb(255, 239, 186);
    position: relative;
    padding: 15px;
    left: 55px;
    top: 75px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.element2{
    width: 300px;
    height: 130px;
    float: left;
    background: rgb(255, 255, 255);
    border: solid 3px rgb(255, 232, 187);
    position: relative;
    padding: 15px;
    left: 105px;
    top: 75px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.element3{
    width: 300px;
    height: 130px;
    float: left;
    background: rgb(255, 255, 255);
    border: solid 3px rgb(255, 232, 187);
    position: relative;
    padding: 15px;
    left: 150px;
    top: 75px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.element4{
    width: 300px;
    height: 130px;
    float: left;
    background: rgb(255, 255, 255);
    border: solid 3px rgb(255, 232, 187);
    position: relative;
    padding: 15px;
    left: 440px;
    top: 125px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}